SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=SEU_SERVICE_ROLE_KEY
SUPABASE_SCHEMA=chatbot

WAHA_BASE_URL=http://localhost:3001
WAHA_API_KEY=
WAHA_SESSION=default
WAHA_WEBHOOK_URL=http://host.docker.internal:8788/webhook/waha
BOT_MENTION=@bot
BOT_PORT=8788

# WAHA Docker/session persistence
WAHA_LOCAL_STORE_BASE_DIR=/app/.sessions
WAHA_AUTO_START_DELAY_SECONDS=5
WHATSAPP_RESTART_ALL_SESSIONS=True
WAHA_PRINT_QR=True
WAHA_NAMESPACE=all
WAHA_CLIENT_DEVICE_NAME=Chatbot
WAHA_CLIENT_BROWSER_NAME=Chrome
